<div class="row">
  <div class="col-6">
    <h1>Pozos</h1>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre Pozo</th>
      <th scope="col">Cabillero</th>
      <th scope="col">Fecha Fin</th>
      <th scope="col" class="text-end">Opción</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.id_pozo}}</th>
      <td>{{this.cabillero_asignado}}</td>
      <td>{{this.fecha_fin}}</td>
      <td class="text-end">
        <a href="/pozo/{{this.id_pozo}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>Detalles</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>